@import '../../../../styles/variables.less';

.grid {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  background: url(images/pattern_grayscale.png);
  height: 100%;
  overflow: auto;
}

.products {
  flex: 1 auto;
  flex-basis: 100%;
  margin-bottom: 10px;

  @media @desktop {
    flex-basis: 55%;
    margin-right: 20px;
  }
}

.products-list {
  display: none;

  @media @desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}

.cart {
  flex: 1 auto;
  flex-basis: 100%;
  background: white;

  @media @desktop {
    flex-basis: 40%;
  }
}

.searchbar {
  height: 60px;
  color: #2f3f7c;
  border: 1px solid #e5e5e5;
  background: white;

  .form-control {
    border: none;
    background: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    color: #2f3f7c;
    font-size: 1em;
  }
}

.searchbar-results {
  background: white;
  border: 1px solid #e5e5e5;
  border-top: none;
}

.searchbar-results-item {
  padding: 8px 10px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;

  &:hover {
    background: #efefef;
  }
}
