@import '../../../../styles/variables.less';

.grid {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  background: url(images/pattern_grayscale.png);
  height: 100%;
  overflow: auto;
}

.orders {
  flex: 1 auto;
  flex-basis: 100%;
  padding: 10px;
}

.orders-list {
  border: 1px solid #eee;
  background: white;
}

.order-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 15px;

  .order-item-quantity {
    flex-basis: 10%;
    flex-grow: 0;
    min-width: 50px;
  }

  .order-item-date {
    flex-grow: 1;
    flex-basis: 30%;
  }

  .order-item-price {
    flex-grow: 1;
    flex-basis: 15%;
  }

  .order-item-note {
    flex-grow: 1;
    flex-basis: 30%;
  }

  .order-item-status {
    flex-grow: 1;
    flex-basis: 25%;
  }

  .order-item-note, .order-item-date {
    display: none;

    @media @desktop {
      display: inline-block;
    }

    @media @tablet {
      display: inline-block;
    }
  }
}

.order-item-header {
  color: #2f3f7c;
  font-size: 1em;
  padding-left: 10px;
}
